In [2]:
import pandas as pd
import kaggle
import auto_co2 as co2
import importlib
importlib.reload(co2)

In [5]:
### Modifications
# La fonction a été modifiée (relire ?) pour marcher chez toi et chez moi.
# Cette cellule est modifiée avec l'argument auth_file_path [Optionnel]

### Remarque : Il n'y a que la ligne 2 sur ton Nbook. Mais ca marche pas si on a pas déja chargé
# Donc dans ce cas executer la ligne 1. 
# TODO: Voir s'il faut mettre que la ligne 1, avec un test pour savoir si déja chargé (dans la fonction)

# df = co2.data.download_and_load_co2_data(filepath='../data/raw')
df = co2.data.load_co2_data()

In [7]:
# Inspection des données
co2.styles.displayer(df, title='APERCU DU JEU DE DONNEES: FR/ALL 2021', save=True)
co2.styles.display_info(df, title='DONNEES BRUTES: FR/ALL 2021', save=True) 
co2.styles.display_na(df, title='PART DE VALEURS MANQUANTES DANS LE JEU DE DONNEES: FR/ALL 2021', save=True)   

# Nettoyage des données
df = co2.data.ml_preprocess(df,
                               countries=['FR', 'DE'],
                               rem_axlewidth=True,
                               rem_fuel_consumption=True,
                               rem_engine_capacity=True)


# discretize electricrange only for classification
# df = co2.data.discretize_electricrange(df, to_dummies=False)

# Inspection des features
co2.styles.display_info(df, title='DONNEES NETTOYEES: FR/ALL 2021', save=True) 
co2.styles.display_describe(df, title='STATISTIQUES DESCRIPTIVES: FR/ALL 2021', save=True)

co2.viz.plot_correlation_heatmap(df, save=True, interactive=False, title=': FR/ALL 2021')
co2.viz.plot_feature_distributions(df, interactive=False, save=True, title=': FR/ALL 2021')
co2.viz.plot_qqplots(df, interactive=False, save=True, title=': FR/ALL 2021')

# One-hot encoding des variables catégorielles
df = co2.data.dummify_all_categoricals(df, should_discretize_electricrange=False)

# Sauvegarde du jeu de données prêt à l'emploi pour la régression
co2.data.save_processed_data(df, classification=False, pickle=False)

<class 'pandas.io.formats.style.Styler'>

<class 'pandas.io.formats.style.Styler'>

<class 'pandas.io.formats.style.Styler'>

<class 'pandas.io.formats.style.Styler'>

d:\0 PERSO\00 LUDO\Google Drive\0 LUDO\Projets\Cours_info\05 Projet Dts\github\car-co2-prediction_pre-release\notebooks\auto_co2\data.py:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(name_dict, axis=1, inplace=True)

AttributeError: 'Series' object has no attribute 'columns'