In [1]:
import pandas as pd
import kaggle
import auto_co2 as co2
import importlib
import warnings
warnings.filterwarnings('ignore', 'SettingWithCopyWarning')
importlib.reload(co2)

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/mln/.kaggle/kaggle.json'

In [2]:
df = co2.data.load_co2_data()
co2.styles.displayer(df)

In [3]:
df = co2.data.ml_preprocessing(df, countries=['FR', 'DE'],
                               elec_range_dummies=True,
                               rem_axlewidth=True,
                               rem_fuel_consumption=True,
                               rem_engine_capacity=True)
co2.styles.displayer(df)

/home/mln/GIT/car-co2-prediction_pre-release/src/auto_co2/data.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(name_dict, axis=1, inplace=True)

Incomplete rows dropped:49817
TOTAL NUMBER OF ROWS DROPPED:5661914

In [4]:
co2.styles.display_describe(df )

In [5]:
co2.data.save_processed_data(df, classification=True, pickle=True, filepath='data/processed/')

OSError: Cannot save file into a non-existent directory: 'data/processed'