In [1]:
import pandas as pd
import kaggle
import auto_co2 as co2
import importlib
importlib.reload(co2)

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/mln/.kaggle/kaggle.json'

df = pd.read_csv('data/sample.csv')
df = co2.data.dataviz_preprocessing(df)

In [9]:
df = co2.data.load_co2_data()
co2.styles.displayer(df)

In [10]:
#df = pd.read_csv('data/sample.csv')
df = co2.data.ml_preprocessing(df, countries=['FR', 'DE'])

/home/mln/GIT/car-co2-prediction_pre-release/src/auto_co2/data.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(name_dict, axis=1, inplace=True)

FuelConsumption rows dropped:0
Incomplete rows dropped:49906
TOTAL NUMBER OF ROWS DROPPED:5662003

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446 entries, 4 to 999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    446 non-null    int64
 1   ManufacturerName      446 non-null    object
 2   ManufNameOem          446 non-null    object
 3   MassRunningOrder      446 non-null    float64
 4   Co2EmissionsWltp      446 non-null    float64
 5   BaseWheel             446 non-null    float64
 6   AxleWidthSteering     350 non-null    float64
 7   FuelType              446 non-null    object
 8   EngineCapacity        420 non-null    float64
 9   EnginePower           406 non-null    float64
 10  InnovativeTechnology  446 non-null    int64
 11  ElecRange_NO_RANGE    446 non-null    int64
 12  ElecRange_0to50       446 non-null    int64
 13  ElecRange_50to100     446 non-null    int64
 14  ElecRange_100to150    446 non-null    int64
 15  ElecRange_150+        446 non-null    int64
dtypes: float64(6), int64(7), object(3)
memory usage: 59.2+ KB

In [11]:
co2.styles.display_na(df)

In [7]:

def ml_preprocessing(df, countries=['FR', 'DE'], elec_range_dummies=True):
    df = select_countries(df, countries)
    display(df.head())
    df = convert_dtypes(df)
    display(df.head())
    df = rename_columns(df)
    display(df.head())
    df = drop_irrelevant_columns(df)
    df = column_remover(df)
    df = remove_fueltype(df)
    df = standardize_innovtech(df)
    df = electricrange_discretization(df, to_dummies=elec_range_dummies)
    df = drop_residual_incomplete_rows(df)
    return df

In [8]:
def ml_preprocessing(df, countries=None, drop_fuel=True, elec_range_dummies=True):
    if countries is not None:
        df = select_countries(df, countries)
    display(df.head())
    df = convert_dtypes(df)
    display(df.head())
    df = rename_columns(df)
    display(df.head())
    df = drop_irrelevant_columns(df)
    display(df.head())
    df = column_remover(df)
    display(df.head())
    if drop_fuel:
        df = remove_fuelconsumption(df)
    display(df.head())
    df = standardize_innovtech(df)
    display(df.head())
    df = electricrange_discretization(df, to_dummies=elec_range_dummies)
    display(df.head())
    df = drop_residual_incomplete_rows(df)
    return df